TOKEN=YOUR_BOT_TOKEN
TOPGG_TOKEN=YOUR_TOPGG_API_TOKEN
RESET_SLASH_COMMANDS_ON_START=false

# Project: Nexa Music
# Author: KoDdy, Razi
# Organization: Infinity
#
# This project is open-source and free to use, modify, and distribute.
# If you encounter any issues, errors, or have questions,
# please contact us through the official support server:
# https://discord.gg/fbu64BmPFD
